ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  grid-auto-rows: 15rem;
  gap: 1ch;
  flex: 1;
}
div {
  justify-content: center;
  margin-top: 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: 15rem;
}

li,
div {
  border: 1px solid black;
  padding: 1rem;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
label {
  padding-right: 1rem;
}
img {
  max-width: 90%;
  max-height: 70%;
}
main {
  display: flex;
  flex-direction: row;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}
.soloPlayer {
  padding-bottom: 1rem;
}
.appt {
  text-align: center;
}
